* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    place-items: center;
    perspective: 10px;
    transform-style: preserve-3d;
}

body {
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow-scrolling: auto;
    display: grid;
}

.normal {
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 50vh;
    color: white;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.word {
    color: white;
    font-size: 5vw;
    margin: 0rem;
    text-transform: uppercase;
    display: none;
}

a {
    text-decoration: none;
}

.line {
    display: flex;
    justify-content: space-between;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy span {
    display: inline-block;
}

.fancy > .outer {
    transition: transform 350ms ease;
    cursor: none;
}

.fancy:hover > .outer {
    transition-duration: 800ms;
    cursor: none;
}

.fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
    cursor: none;
}

.fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}

.scroll-reveal {
    text-align: center;
    padding-block: clamp(8rem, 25vh, 20rem);
}

.scroll-reveal h2 {
    font-size: 40px;
    line-height: 1.0;
}

.scroll-reveal p {
    font-size: 40px;
    line-height: 1.5;
    max-width: 55ch;
    margin-inline: auto;
}
.scroll-reveal > * {
    margin: 0;
}

.scroll-reveal span {
    color: hsla(0, 0%, 95%, 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}

.scroll-reveal h2 span {
    animation-range-start: cover 30.5vh;
    animation-range-end: cover 50vh;
}

.scroll-reveal p span {
    animation-range-start: cover 22.5vh;
    animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}

#yt-link > i {
    color: rgb(255, 255, 255);
}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 6px;
    bottom: 10px;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1000;
}

.scroll-link{
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 6px;
    bottom: 30px;
    display: inline-flex;
    gap: 5px;
    right: 30px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1;
}

.return {
    font-size: 1.9em;
    align-items: center;
    bottom: 1px;
    display: inline-flex;
    right: 1px;
    position: absolute;
    text-decoration: none;
    z-index: 2;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./testing/layer1.svg');
}

.spacer2 {
    aspect-ratio: 960/175;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./testing/layer1.svg');
    transform: rotate(180deg);
}


.red {
    background: #AA2949;
}

/* portfolio */

.slider-container{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    height: 150vh;
    /*background-image: url('Images/bg-img.png');*/
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.slider-images{
    align-items: center;
    gap: 21px;
    overflow: hidden;
    display: flex;
}
.slider-images img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 6px;
}
.slider-img{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 1.0s ease;
    padding: 100px;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 560px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 665px;
}
h1{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(360deg);
    transition: 0.7s ease;
}

.details{
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    transition: 1.7s ease;
    display: none;
    padding-left: 20px;
}
.details p{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
    padding-left: 20px;
}
.slider-img.active{
    width: 766px !important;
    height: 750px !important;
}
.slider-img.active h1{
    display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
    display: block;
}

.portfolio {
        align-items: start;
        min-height: 50vh;
        min-width: 50vh;
        color: white;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Jost", sans-serif;
}

.image {
    display: flex;
    align-items: center;
}

.port {
    display: flow;
    justify-content: space-evenly;
}

.content {
    flex-direction: column;
    padding-right: 50px;
    width: 600px;
    height: 400px;
    font-size: 15px;
    min-width: 50vh;
    line-height: 2;
}

.button {
    flex-grow: 1;
}

.img-loqbox {
    order: 1;
    flex-grow: 1;
    width: 300px;
    height: 200px;
    background-image: url("images/loqbox.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-center:  center;
    transition: 0.5s ease-in-out;
}

.img-sma {
    order: 1;
    flex-grow: 1;
    width: 300px;
    height: 200px;
    background-image: url("images/sma.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: left;
    transition: 0.5s ease-in-out;
}

.img-ahpgp {
    order: 1;
    flex-grow: 1;
    width: 300px;
    height: 200px;
    background-image: url("images/ahpgp.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position:  center;
    transition: 0.5s ease-in-out;
}

.img-ukcovid {
    order: 1;
    flex-grow: 1;
    width: 300px;
    height: 200px;
    background-image: url("images/ukmapcovid.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: 0.5s ease-in-out;
}

.img-dtm {
    order: 1;
    flex-grow: 1;
    width: 300px;
    height: 200px;
    background-image: url("images/dtm2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:  center;
    transition: 0.5s ease-in-out;
}

.img-vip {
    order: 1;
    flex-grow: 1;
    width: 300px;
    height: 200px;
    background-image: url("images/value_in_pepsico.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:  center;
    transition: 0.5s ease-in-out;
}

.about-me {
    font-family: "Manrope", sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    text-align: left;
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    * {
        font-family: 'DM Sans', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    section {

    }

    .wrapper {
        height: 100vh;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        place-items: center;
        perspective: 10px;
        transform-style: preserve-3d;
    }

    body {
        height: 100vh;
        background-color: black;
        margin: 0rem;
        overflow-scrolling: auto;
        display: grid;
    }

    .normal {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
        color: white;
    }

    .hidden {
        opacity: 0;
        transition: all 1s;
    }

    .show {
        opacity: 1;
    }

    .word {
        color: white;
        font-size: 5vw;
        margin: 0rem;
        text-transform: uppercase;
        display: block;
    }

    a {
        text-decoration: none;
    }

    .line {
        display: flex;
        justify-content: space-between;
    }

    #text:has(.fancy:hover) .word:not(.fancy:hover) {
        opacity: 0.2;
    }

    .fancy span {
        display: inline-block;
    }

    .fancy > .outer {
        transition: transform 350ms ease;
        cursor: none;
    }

    .fancy:hover > .outer {
        transition-duration: 800ms;
        cursor: none;
    }

    .fancy:hover > .outer > .inner {
        animation: float 5s ease infinite;
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(1) {
        transform: translate(-80%, 60%) rotate(8deg);
    }

    .fancy:hover > .outer:nth-child(2) {
        transform: translate(-40%, 20%) rotate(4deg);
    }

    .fancy:hover > .outer:nth-child(3) {
        transform: translate(-10%, 60%) rotate(-6deg);
    }

    .fancy:hover > .outer:nth-child(4) {
        transform: translate(0%, 8%) rotate(-8deg);
    }

    .fancy:hover > .outer:nth-child(5) {
        transform: translate(0%, -20%) rotate(5deg);
    }

    .fancy:hover > .outer:nth-child(6) {
        transform: translate(0%, 20%) rotate(-3deg);
    }

    .fancy:hover > .outer:nth-child(7) {
        transform: translate(0%, -40%) rotate(-5deg);
    }

    .fancy:hover > .outer:nth-child(8) {
        transform: translate(0%, 15%) rotate(10deg);
    }

    .fancy:hover > .outer:nth-child(9) {
        transform: translate(0%, -50%) rotate(8deg);
    }

    .fancy:hover > .outer:nth-child(10) {
        transform: translate(0%, 15%) rotate(-6deg);
    }

    .fancy:hover > .outer:nth-child(11) {
        transform: translate(50%, -10%) rotate(-3deg);
    }

    .fancy:hover > .outer:nth-child(12) {
        transform: translate(120%, -30%) rotate(-10deg);
    }


    .scroll-reveal {
        text-align: center;
        padding-block: clamp(8rem, 25vh, 20rem);
    }

    .scroll-reveal h2 {
        font-size: 3rem;
        line-height: 1.5;
    }

    .scroll-reveal p {
        font-size: 3rem;
        line-height: 1.5;
        max-width: 55ch;
        margin-inline: auto;
    }
    .scroll-reveal > * {
        margin: 0;
    }

    .scroll-reveal span {
        color: hsla(0, 0%, 95%, 0.2);
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, white, white);
        animation: scroll-reveal linear forwards;
        animation-timeline: view(y);
    }

    .scroll-reveal h2 span {
        animation-range-start: cover 30.5vh;
        animation-range-end: cover 50vh;
    }

    .scroll-reveal p span {
        animation-range-start: cover 22.5vh;
        animation-range-end: cover 50vh;
    }

    @keyframes scroll-reveal {
        to {
            background-size: 100% 100%;
        }
    }

    #yt-link > i {
        color: rgb(255, 255, 255);
    }

    .meta-link {
        align-items: center;
        backdrop-filter: blur(3px);
        border-radius: 6px;
        bottom: 10px;
        display: inline-flex;
        gap: 5px;
        left: 10px;
        padding: 10px 20px;
        position: absolute;
        text-decoration: none;
        transition: background-color 400ms, border-color 400ms;
        z-index: 1000;
    }

    .scroll-link{
        align-items: center;
        backdrop-filter: blur(3px);
        border-radius: 6px;
        bottom: 30px;
        display: inline-flex;
        gap: 5px;
        right: 30px;
        padding: 10px 20px;
        position: absolute;
        text-decoration: none;
        transition: background-color 400ms, border-color 400ms;
        z-index: 1;
    }

    .return {
        font-size: 1.9em;
        align-items: center;
        bottom: 1px;
        display: inline-flex;
        right: 1px;
        position: absolute;
        text-decoration: none;
        z-index: 2;
    }

    .spacer {
        aspect-ratio: 960/200;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('./testing/layer1.svg');
    }

    .spacer2 {
        aspect-ratio: 960/175;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('./testing/layer1.svg');
        transform: rotate(180deg);
    }


    .red {
        background: #AA2949;
    }

    /* portfolio */

    .slider-container{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Jost", sans-serif;
        height: 150vh;
        /*background-image: url('Images/bg-img.png');*/
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .slider-images{
        align-items: center;
        gap: 21px;
        overflow: hidden;
        display: flex;
    }
    .slider-images img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 6px;
    }
    .slider-img{
        width: 110px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        transition: 1.0s ease;
        padding: 100px;
    }
    .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
        height: 480px;
    }
    .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
        height: 560px;
    }
    .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
        height: 665px;
    }
    h1{
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: -10%;
        transform: rotate(360deg);
        transition: 0.7s ease;
    }

    .details{
        position: absolute;
        bottom: 43px;
        left: 43px;
    }

    .details h2{
        font-size: 26px;
        font-weight: 700;
        text-align: left;
        line-height: 44px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        transition: 1.7s ease;
        display: none;
        padding-left: 20px;
    }
    .details p{
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        line-height: 33px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        transition: 0.7s ease;
        display: none;
        padding-left: 20px;
    }
    .slider-img.active{
        width: 766px !important;
        height: 750px !important;
    }
    .slider-img.active h1{
        display: none;
    }
    .slider-img.active .details p, .slider-img.active .details h2{
        display: block;
    }

    .portfolio {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 50vh;
        color: white;
        margin: 0px;
        box-sizing: border-box;
        font-family: "Jost", sans-serif;
    }

    .port {
        display: flex;
        justify-content: space-evenly;
    }

    .content {
        display: flex;
        justify-content: space-evenly;
        padding-right: 10px;
        flex-direction: column;
        width: 600px;
        height: 400px;
        order: -1;
    }

    .button {
        flex-grow: 1;
    }

    .img-loqbox {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/loqbox.png");
        background-size: 110%;
        background-repeat: no-repeat;
        background-center:  center;
        transition: 0.5s ease-in-out;
    }

    .img-sma {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/sma.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: left;
        transition: 0.5s ease-in-out;
    }

    .img-ahpgp {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/ahpgp.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position:  center;
        transition: 0.5s ease-in-out;
    }

    .img-ukcovid {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/ukmapcovid.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: 0.5s ease-in-out;
    }

    .img-dtm {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/dtm2.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position:  center;
        transition: 0.5s ease-in-out;
    }

    .img-vip {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/value_in_pepsico.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position:  center;
        transition: 0.5s ease-in-out;
    }

    .about-me {
        font-family: "Manrope", sans-serif;
        background-color: transparent;
        text-transform: uppercase;
        color: white;
        text-align: left;
        padding: 20px;
    }
}