@media only screen and (min-width: 1px) {
    * {
        font-family: 'DM Sans', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /*border: 1px solid red;*/
    }

    .single {
        text-decoration: none;
        transition: 0.5s;
    }

    .single:hover {
        transform: scale(1.4);
        color: #001220;
        background: #ffffff;
        cursor: none;
    }

    body {
        background-color: black;
        margin: 0rem;
        overflow-scrolling: auto;
        display: grid;
    }


    .wrapper {
        height: 100vh;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        place-items: center;
    }

    /* Sections */

    .intro-section {
        display: flex;
        height: 85vh;
        place-items: center;
        align-content: center;
        color: white;
    }

    .intro-section .indent {
        padding-left: 100px;
    }

    .second-section {
        display: flex;
        background-color: white;
        height: 80vh;
        justify-content: center;
        padding-top: 40px;
    }

    .abt-section {
        height: 80vh;
    }

    .columns {
        display: flex;
        justify-content: space-evenly;
    }
    
    .columns .column {
        width: 32.5vw;
    }

    .word {
        color: white;
        font-size: 5vw;
        margin: 0rem;
        text-transform: uppercase;
        display: block;
    }

    .word2 {
        color: black;
        margin: 15px;
        font-size: 3vw;
        text-transform: uppercase;
        display: flex;
    }

    .subtext {
        color: black;
        margin: 15px;
        line-height: 1.5;
    }

    .button .comment {
        display: none;
    }

    .button:hover .replies {
        display: none;
        cursor: none;
    }

   .button:hover .comment {
       display: inline;
       cursor: none;
    }

    .line {
        display: flex;
        justify-content: left;
    }

    .img-whitsundays {
        margin-left: 25px;
        width: 400px;
        height: 200px;
        background-image: url("https://images.unsplash.com/photo-1610056352054-a68fe4f998e1?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        transition: 0.5s ease-in-out;
    }

   .separator {
       background-color: #DEDEDE;
       height: 500px;
       width: 1px;

   }

    .hidden {
        opacity: 0;
        transition: all 2s;
    }

    .show {
        opacity: 1;
    }

    a {
        text-decoration: none;
    }

    /* Colours */

    .black {
        color: black;
    }

    .red {
        background: #AA2949;
    }

    .white {
        background: #fff;
    }

    .orange {
        background: #FFA500;
    }


    .blink {
        animation: blink 1s linear infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
        80% {
            opacity: .5;
        }
    }

    #text:has(.fancy:hover) .word:not(.fancy:hover) {
        opacity: 0.2;
    }

    .fancy span {
        display: inline-block;
    }

    .fancy > .outer {
        transition: transform 350ms ease;
        cursor: none;
    }

    .fancy:hover > .outer {
        transition-duration: 800ms;
        cursor: none;
    }

    .fancy:hover > .outer > .inner {
        animation: float 5s ease infinite;
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(1) {
        transform: translate(-80%, 60%) rotate(8deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(2) {
        transform: translate(-40%, 20%) rotate(4deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(3) {
        transform: translate(-10%, 60%) rotate(-6deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(4) {
        transform: translate(0%, 8%) rotate(-8deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(5) {
        transform: translate(0%, -20%) rotate(5deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(6) {
        transform: translate(0%, 20%) rotate(-3deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(7) {
        transform: translate(0%, -40%) rotate(-5deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(8) {
        transform: translate(0%, 15%) rotate(10deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(9) {
        transform: translate(0%, -50%) rotate(8deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(10) {
        transform: translate(0%, 15%) rotate(-6deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(11) {
        transform: translate(50%, -10%) rotate(-3deg);
        cursor: none;
    }

    .fancy:hover > .outer:nth-child(12) {
        transform: translate(120%, -30%) rotate(-10deg);
        cursor: none;
    }

    .scroll-reveal {
        text-align: left;
        padding-left: 50px;
        /*padding-block: clamp(1rem, 1vh, 5rem);*/
        justify-content: space-evenly;
    }

    .scroll-reveal h2 {
        font-size: 3.25rem;
        line-height: 1.5;
    }

    .scroll-reveal p {
        font-size: 3.5rem;
        line-height: 1.5;
        max-width: 55ch;
        margin-inline: auto;
    }
    .scroll-reveal > * {
        margin: 0;
    }

    .scroll-reveal span {
        color: hsla(0, 0%, 95%, 0.2);
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, white, white);
        animation: scroll-reveal linear forwards;
        animation-timeline: view(y);
    }

    .scroll-reveal h2 span {
        animation-range-start: cover 30.5vh;
        animation-range-end: cover 100vh;
    }

    .scroll-reveal p span {
        animation-range-start: cover 30.5vh;
        animation-range-end: cover 50vh;
    }

    @keyframes scroll-reveal {
        to {
            background-size: 100% 100%;
        }
    }

    #yt-link > i {
        color: rgb(255, 255, 255);
    }

    .meta-link {
        align-items: center;
        border-radius: 6px;
        bottom: 100px;
        display: inline-flex;
        gap: 5px;
        left: 10px;
        padding: 10px 20px;
        position: absolute;
        text-decoration: none;
        transition: background-color 400ms, border-color 400ms;
        z-index: 1000;
        font-size: 10px;
    }

    .scroll-link{
        align-items: center;
        border-radius: 6px;
        bottom: 120px;
        display: inline-flex;
        gap: 5px;
        right: 30px;
        padding: 10px 20px;
        position: absolute;
        text-decoration: none;
        transition: background-color 400ms, border-color 400ms;
        z-index: 1;
    }

    .return {
        font-size: 1.9em;
        align-items: center;
        bottom: 50px;
        display: inline-flex;
        right: 1px;
        position: absolute;
        text-decoration: none;
        z-index: 2;
    }

    .spacer {
        aspect-ratio: 960/110;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('./assets/spacer2.svg');
    }

    .spacer2 {
        aspect-ratio: 960/110;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('./assets/spacer1.svg');
        transform: rotate(180deg);
    }

    /* portfolio */

    .word3 {
        color: white;
        width: 50vh;
        font-size: 3vw;
        text-transform: uppercase;
        margin: 2rem;
    }

    .port-columns {
        display: flex;
        padding-left: 20vw;
        margin: 0;
        gap: 20px;
    }

    .loqboxproj {
        height: 80vh;
    }

    .sma-section {
        height: 80vh;
    }



    .normal {
        display: grid;
        place-items: center;
        align-content: center;
        color: white;
        min-height: 80vh;
    }

    .section-port1 {
        font-size: 1vw;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }

   

    .port-subtext {
        color: white;
        line-height: 1.5;
    }

    .portfolio {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 50vh;
        color: white;
        margin: 0px;
        box-sizing: border-box;
        font-family: "Jost", sans-serif;
    }

    .port {
        display: flex;
        justify-content: space-evenly;
    }

    .content {
        display: flex;
        justify-content: space-evenly;
        padding-right: 10px;
        flex-direction: column;
        width: 600px;
        height: 400px;
        order: -1;
    }

    .img-loqbox {
        width: 600px;
        height: 400px;
        background-image: url("final_images/loqbox.png");
        background-size: 100%;
        transition: 0.5s ease-in-out;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img-loqbox:hover {
        background-size: 120%;
        background-position: center;
    }

    .img-sma {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("final_images/sma.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        transition: 0.5s ease-in-out;
    }

    .img-sma:hover {
        background-size: 120%;
        background-position: left;
    }

    .img-nn {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/nn.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.5s ease-in-out;
    }

    .img-nn:hover {
        background-size: 120%;
        background-position: center;
    }

    .img-ahpgp {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/ahpgp.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position:  center;
        transition: 0.5s ease-in-out;
    }

    .img-ahpgp:hover {
        background-size: 120%;
        background-position: center;
    }

    .img-ukcovid {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/ukmapcovid.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: 0.5s ease-in-out;
    }

    .img-ukcovid:hover {
        background-size: 120%;
        background-position: center;
    }

    .img-dtm {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/dtm2.png");
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.5s ease-in-out;
    }

    .img-dtm:hover {
        background-size: 130%;
        background-position: center;
    }

    .img-vip {
        order: 1;
        flex-grow: 1;
        width: 600px;
        height: 400px;
        background-image: url("images/value_in_pepsico.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position:  center;
        transition: 0.5s ease-in-out;
    }

    .img-vip:hover {
        background-size: 120%;
        background-position: center;
    }

    .about-me {
        font-family: "Manrope", sans-serif;
        background-color: transparent;
        text-transform: uppercase;
        color: white;
        text-align: left;
        padding: 20px;
    }