* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 150vh;
    background-color: black;
    margin: 0rem;
    overflow-scrolling: auto;
    display: grid;
    place-items: center;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    color: white;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.word {
    color: white;
    font-size: 5vw;
    margin: 0rem;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

.line {
    display: flex;
    justify-content: space-between;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy span {
    display: inline-block;
}

.fancy > .outer {
    transition: transform 350ms ease;
    cursor: none;
}

.fancy:hover > .outer {
    transition-duration: 800ms;
    cursor: none;
}

.fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
    cursor: none;
}

.fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
}


.scroll-reveal {
    text-align: center;
    padding-block: clamp(8rem, 25vh, 20rem);
}

.scroll-reveal h2 {
    font-size: 5rem;
    line-height: 1;
}

.scroll-reveal p {
    font-size: 5rem;
    line-height: 1.3;
    max-width: 55ch;
    margin-inline: auto;
}
.scroll-reveal > * {
    margin: 0;
}

.scroll-reveal span {
    color: hsla(0, 0%, 0%, 0.2);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}

.scroll-reveal h2 span {
    animation-range-start: cover 10vh;
    animation-range-end: cover 30vh;
}

.scroll-reveal p span {
    animation-range-start: cover 22.5vh;
    animation-range-end: cover 60vh;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}

/* navbar css code */

.navbar {
    font-family: "Arial", sans-serif;
}

.slide {
    height: 10px;
    width: 400px;
    position: absolute;
    background-color: transparent;
    transition: 1.5s ease;
    transform: translateX(-400%);

}

label h1 {
    color: #8000ff;
    font-weight: 800;
    text-align: right;
    pointer-events: none;
}


label ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding-left: 10px;
    padding-top: 19px;
    background: transparent;
}

label ul li{
    list-style: none;
    background: #2a2a2a;
    height: 20px;
    width: 100px;
    border-radius: 25px;
}

label ul li a {
    text-align: center;
    font-weight: 100;
    padding: 5px 5px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s bounce;
}

label a{
    font-size: smaller;
    opacity: 0.75;
    border-radius: 25px;
    background-color: #332d2d;
    color: #ffffff;
    height: 25px;
    width: 100px;
}


label a:hover {
    background: #fafafa;
    transition: 0.5s ease-in-out;
}


input {
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle:hover {
    background: #fafafa;
    opacity: 0.0;
    transition: 1.5s ease-in-out;
}

    .toggle {
        position: absolute;
        height: 25px;
        width: 30px;
        top: 15px;
        left: 15px;
        z-index: 1;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(5, 5, 5, 0.3);
    }

    .toggle .common {
        position: absolute;
        height: 2px;
        width: 15px;
        gap: 20px;
        background-color: #f6f6f6;
        transition: 0.9s ease;
    }

    .toggle .top_line {
        rotate: 39deg;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle .middle_line {
        rotate: -35deg;
        top: 45%;
        left: 52.5%;
        transform: translate(-50%, -50%);
    }

    .toggle .bottom_line {
        opacity: 0.0%;
        top: 90%;
        left: 52.5%;
        transform: translate(-50%, -50%);
    }

    input:checked ~ .toggle .top_line {
        left: 2px;
        top: 10px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked ~ .toggle .middle_line {
        left: 2px;
        top: 10px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked ~ .toggle .bottom_line {
        opacity: 1;
        left: 2px;
        top: 10px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked ~ .toggle {
        transition: 0.5s ease-out;
    }

    input:checked ~ .slide {
        transform: translateX(0);
    }
}

#yt-link > i {
    color: rgb(255, 255, 255);
}

.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 6px;
    bottom: 10px;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1000;
}

.scroll-link {
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 6px;
    bottom: 30px;
    display: inline-flex;
    gap: 5px;
    right: 30px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1;
}


.return {
    font-size: 1.9em;
    align-items: center;
    bottom: 1px;
    display: inline-flex;
    right: 1px;
    position: absolute;
    text-decoration: none;
    z-index: 2;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./testing/layer1.svg');
}

.red {
    background: #AA2949;
}