* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.1px solid red; <-- for debugging */
}

body {
    margin: 0rem;
    overflow-scrolling: auto;
    transition: background-color 1.0s ease;
    color: red;
    display: grid;
}

.scrolled {
    color: blue;
}

.preload {
    overflow: hidden;
}

.abt-section {
    height: 50vh;
}

.second-section {
    height: 75vh;
}

.abt-section-intro {
    height: 10vh;
}

.abt-title {
    padding: 50px;
}

.about-me {
    background-color: transparent;
    text-transform: uppercase;
    text-align: left;
    display: inline;
    padding: 20px;
}

.scroll-reveal {
    text-align: left;
    padding-left: 50px;
    /*padding-block: clamp(1rem, 1vh, 5rem);*/
    justify-content: space-evenly;
}

.scroll-reveal p {
    font-size: 3.5rem;
    line-height: 1.25;
    max-width: 55ch;
    margin-inline: auto;
}

.scroll-reveal {
    color: hsla(0, 0%, 0%, 0.5);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}

.spacer {
        aspect-ratio: 960/100;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('/assets/spacer.svg');
        transform: rotate(180deg);
    }

/* .spacer2 {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/spacer1.svg');
} */

.columns {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0;
    margin: 2rem;
}

.columns .column {
    width: 30vw;
    
}

.text {
    color: black;
    margin: 15px;
    line-height: 1.25;
    font-size: 1.25rem;
}