/* Colours */

.black {
    color: black;
}

.red {
    background: #AA2949;
}

.white {
    background-color: #ffffff;
}

.w {
    color: white;
}

.orange {
    background: #FFA500;
}

.green {
    background: rgb(111, 137, 56);
}

.purple {
    background-color: rgb(81, 42, 104);
}

.redorange {
    background-color: #CF6442;
}