* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

.single {
    text-decoration: none;
    transition: 0.5s;
}

.single:hover {
    transform: scale(1.4);
    color: #001220;
    background: #ffffff;
    cursor: none;
}

body {
    margin: 0rem;
    overflow-scrolling: auto;
    display: grid;
}

/* Sections */

.intro-section {
    display: flex;
    height: 85vh;
    place-items: center;
    align-content: center;
    color: white;
}

.indent {
    padding-left: 100px;
}

.second-section {
    display: flex;
    background-color: white;
    height: 70vh;
    justify-content: center;
    padding-top: 40px;
}

.abt-section {
    height: 80vh;
}

.columns {
    display: flex;
    justify-content: space-evenly;
}

.columns .column {
    width: 32.5vw;
}

.word {
    color: white;
    font-size: 5vw;
    margin: 0rem;
    text-transform: uppercase;
    display: block;
}

.word2 {
    color: black;
    margin: 15px;
    font-size: 3vw;
    text-transform: uppercase;
    display: flex;
}

.subtext {
    color: black;
    margin: 15px;
    line-height: 1.5;
}

.button .comment {
    display: none;
}

.button:hover .replies {
    display: none;
    cursor: none;
}

.button:hover .comment {
   display: inline;
   cursor: none;
}

.line {
    display: flex;
    justify-content: left;
}

.img-whitsundays {
    margin-left: 25px;
    width: 400px;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1610056352054-a68fe4f998e1?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    transition: 0.5s ease-in-out;
}

.separator {
   background-color: #DEDEDE;
   height: 500px;
   width: 1px;

}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}

a {
    text-decoration: none;
}

/* Colours */

.black {
    color: black;
}

.red {
    background: #AA2949;
}

.white {
    background: #fff;
}

.orange {
    background: #FFA500;
}


.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    80% {
        opacity: .5;
    }
}

.rotate {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#yt-link > i {
    color: rgb(255, 255, 255);
}

.meta-link {
    color: white;
    align-items: center;
    border-radius: 6px;
    bottom: 100px;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1000;
    font-size: 10px;
}

.scroll-link{
    align-items: center;
    color: white;
    border-radius: 6px;
    bottom: 120px;
    display: inline-flex;
    gap: 5px;
    right: 30px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 1;
}

.return {
    color: white;
    font-size: 1.9em;
    align-items: center;
    bottom: 50px;
    display: inline-flex;
    right: 1px;
    position: absolute;
    text-decoration: none;
    z-index: 2;
}

.spacer {
    aspect-ratio: 960/91;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/spacer2.svg');
    position: absolute;
    bottom: 0;
    z-index: -1;
}
