html {
    scroll-snap-type: y mandatory;
}

section {


}

.intro {
    height: 100vh
}

.snap {
    height: 35vh;
    scroll-snap-align: center;
    font-family: "Courier New", monospace;
}

.blue {
    background: #3e3e80;
}

.red {
    background: #D53867;
}

.green {
    background: #6ba78c;
}

.orange {
    background: orange;
}

.block {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 1500px;
    position: fixed;
    background-color: #fff;
    padding: 0px;
}